.App {
  background-color: white;    

  background-size: cover;
  /* background-size: contain; */
  color: White;
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* body {
  background-color: #dfe6e9;
} */

/* .youtube {
  border: 2px #0984e3 dashed;
  margin-top: 20px;
} */

button {
  margin: 15px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #a8ff75;
  border-radius: 15px;
}

.NavBar { 
  font-size: 24px;
  background-image: linear-gradient(260deg, #60b982 0%, #cf8686 100%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

input.form-control {
  size: 100px;
  color: black;
}

html {
  background-image: url(https://i.imgur.com/TcOUbTM.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

form input{
  display: grid;
  /* grid-template-columns: 70%; */
  /* grid-template-rows: 300%; */
  /* grid-template-columns: 70%; */
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(91, 212, 20, 0.5);
  font-family: monospace;
  border-color: silver;
  border-style: ridge;
}

#signupbtn {
  margin: 15px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #a8ff75;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
}

