.App {
  text-align: center;
}



button {
  text-decoration: none;
  margin: 10px;
  padding:10px 20px;
  border: solid;
  border-radius: 25px;
  color: rgba(223, 0, 0, 0.5);
  background-color: rgba(216, 218, 214, 0.5);
}

.NavBar { 
  font-size: 15px;
  background-color: rgba(223, 236, 236, 0.5);
  padding-bottom: 40px;
  padding-top: 0px;
  margin-top: 10px;
  margin-left: 0px;
  position: fixed;
  width: 91%;

}

input.form-control {
  size: 100px;
  color: black;
}

html {
  background-repeat: no-repeat;
  background-size: cover;
}

form input{
  display: grid;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(216, 218, 214, 0.5);
  font-family: monospace;
  border-color: silver;
  border-style: none;
}

.signupInput {
  width: 350px;
  height: 30px;
}

#signupbtn {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding:10px 20px;
  border: solid;
  border-radius: 25px;
  color: rgba(223, 0, 0, 0.5);
  background-color: white;
}

a.NavBar-link {
  font-family: sans-serif;
  float: left;
  justify-content: left;
  text-decoration: none;
  margin: 10px;
  padding:10px 20px;
  border: solid;
  border-radius: 25px;
  color: rgba(223, 0, 0, 0.5);
  background-color: rgba(216, 218, 214, 0.5);
}

#title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px
}

#signUpTitle {
  font-family: sans-serif;
  font-size: 35px;
}

.form-horizontal {
  padding: 300px;
  border: 100px;
}

form {
  padding: auto;
  border:100px;
}

span.NavBar-welcome {
  color: black;
  display: flex;
  padding-left: 5px;
  margin-left:20px;
  font-size: 20px;
}

button.btn.btn-default {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding:10px 20px;
  border: solid;
  border-radius: 25px;
  color: rgba(223, 0, 0, 0.5);
  background-color: rgba(216, 218, 214, 0.5);
}

button:hover {
  background-color: white;
}

